@tailwind base;
@tailwind components;
@tailwind utilities;

/* 确保移动端底部导航栏安全区域 */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* 优化滚动体验 */
html,
body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
